
  
  .productImage {
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .productImage:hover {
    transform: scale(1.1);
  }
  
  .cardContent {
    padding: 10px;
    text-align: left;
    color: #ffffff;
  }
  
  .productName {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0.5rem;
  }

  .productPrice{
    margin: 0;
  }
  
  .creator{
    margin: 0;
    font-weight: 200;
  }
  
  